<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madness.hobbymatcher.loginmanager">

    <application>
        <activity android:name=".view.RegistrationActivity" />
        <activity
            android:name=".view.LoginActivity"
            android:theme="@style/Theme.HobbyMatcher" />
    </application>

</manifest>